<%if @tracks_limit.blank?%>
<p class="text-white text-lg w-[32rem] mx-auto mb-1.5">フォロー中のアーティストの新曲は見つかりませんでした</p>
<%else%>
<h1 class="text-white text-lg w-[32rem] mx-auto mb-1.5">検索結果</h1>
<%@tracks_limit.each do |track|%>
  <div class="flex flex w-[36rem] mx-auto mb-0.5">
    <div class="text-white mr-1"><%=track.release_date%></div>
    <div class="text-white">
      <%="#{track.artist_name}/"%>
    </div>
    <div class="text-blue-600"><%=link_to "#{track.track_name}","#{track.link}"%></div>
  </div>
<%end%>
<%end%>



