<div class="border-b border-gray-700 p-2">
    <p class="text-white">spotify</p>
    <div class="flex justify-end text-blue-600">
        <%= link_to 'Sign in with Spotify', '/auth/spotify'%>
    </div>
</div>