<nav class="absolute z-10 h-screen bg-gray-800">
    <ul>
        <li>
            <%= link_to "/" do %>
            <i class="fa-solid fa-house" style="color: #74C0FC;"></i>
                <p class="text-white">
                  <%= "ホーム"%>
                </p>
            <% end %>
           </li>
           
           <li>  
            <%= link_to "/auth/spotify" do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #74C0FC;"></i>
                <p class="text-white">
                   <%="新曲を検索"%>
                </p>
            <% end %>
           </li>
    </ul>
</nav>